.carousel{

position:absolute;

top:250px;

left:50%;

transform:translateX(-50%);

width:700px;

z-index:1;

}

.item{

position:absolute;

width:150px;

opacity:.3;

filter:blur(2px);

transition:all .5s ease;

}

.left{

left:-200px;

}

.right{

right:-200px;

}